<div class="converter-wrapper">
    <button class="converter-trigger-button js-area-volume-trigger-button">
        <span class="converter-title">Linear, square, and cubic units</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form area-volume-form js-area-volume-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">unit</span>
                <input class="input area-volume-input" type="number" data-convert-type="unit-to-square" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">unit&sup2;</span>
                <input class="input area-volume-input" type="number" data-convert-type="square-to-unit"
                    placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">unit</span>
                <input class="input area-volume-input" type="number" data-convert-type="unit-to-cubic" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">unit&sup3;</span>
                <input class="input area-volume-input" type="number" data-convert-type="cubic-to-unit"
                    placeholder="1&sup3;">
            </div>
        </div>
    </form>
</div>