<div class="converter-wrapper">
    <button class="converter-trigger-button js-area-trigger-button">
        <span class="converter-title">Area</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form area-form js-area-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">mm&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="mm2-to-cm2" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">cm&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="cm2-to-mm2" placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">cm&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="cm2-to-m2" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="m2-to-cm2" placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="m2-to-km2" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">km&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="km2-to-m2" placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="m2-to-ft2" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">ft&sup2;</span>
                <input class="input area-input" type="text" data-convert-type="ft2-to-m2" placeholder="1&sup2;">
            </div>
        </div>
    </form>
</div>