<div class="converter-wrapper">
    <button class="converter-trigger-button js-date-trigger-button">
        <span class="converter-title">Date (average values)</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form date-form js-date-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">days</span>
                <input class="input date-input" type="number" data-convert-type="day-to-week" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">weeks</span>
                <input class="input date-input" type="number" data-convert-type="week-to-day" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">weeks</span>
                <input class="input date-input" type="number" data-convert-type="week-to-month" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">months</span>
                <input class="input date-input" type="number" data-convert-type="month-to-week" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">months</span>
                <input class="input date-input" type="number" data-convert-type="month-to-year" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">years</span>
                <input class="input date-input" type="number" data-convert-type="year-to-month" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">years</span>
                <input class="input date-input" type="number" data-convert-type="year-to-decade" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">decades</span>
                <input class="input date-input" type="number" data-convert-type="decade-to-year" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">decades</span>
                <input class="input date-input" type="number" data-convert-type="decade-to-century" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">centuries</span>
                <input class="input date-input" type="number" data-convert-type="century-to-decade" placeholder="1">
            </div>
        </div>
    </form>
</div>