<div class="converter-wrapper">
    <button class="converter-trigger-button js-land-trigger-button">
        <span class="converter-title">Land plots</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form land-form js-land-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">sotka</span>
                <input class="input land-input" type="number" data-convert-type="sot-to-m2" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input land-input" type="number" data-convert-type="m2-to-sot" placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input land-input" type="number" data-convert-type="m2-to-ha" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">hectare</span>
                <input class="input land-input" type="number" data-convert-type="ha-to-m2" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m&sup2;</span>
                <input class="input land-input" type="number" data-convert-type="m2-to-acre" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">acre</span>
                <input class="input land-input" type="number" data-convert-type="acre-to-m2" placeholder="1&sup2;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">acre</span>
                <input class="input land-input" type="number" data-convert-type="acre-to-hectare" placeholder="1&sup2;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">hectare</span>
                <input class="input land-input" type="number" data-convert-type="hectare-to-acre" placeholder="1&sup2;">
            </div>
        </div>
    </form>
</div>