<div class="converter-wrapper">
    <button class="converter-trigger-button js-mass-trigger-button">
        <span class="converter-title">Mass</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form mass-form js-mass-form active">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">gram</span>
                <input class="input mass-input" type="number" data-convert-type="gram-to-kilogram" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">kilogram</span>
                <input class="input mass-input" type="number" data-convert-type="kilogram-to-gram" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">kilogram</span>
                <input class="input mass-input" type="number" data-convert-type="kilogram-to-tonne" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">tonne</span>
                <input class="input mass-input" type="number" data-convert-type="tonne-to-kilogram" placeholder="1">
            </div>
        </div>
    </form>
</div>