<div class="converter-wrapper">
    <button class="converter-trigger-button js-speed-trigger-button">
        <span class="converter-title">Speed</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form speed-form js-speed-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m/sec</span>
                <input class="input speed-input" type="number" data-convert-type="m/sec-to-km/h" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">km/h</span>
                <input class="input speed-input" type="number" data-convert-type="km/h-to-m/sec" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">km/h</span>
                <input class="input speed-input" type="number" data-convert-type="km/h-to-mi/h" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">mi/h</span>
                <input class="input speed-input" type="number" data-convert-type="mi/h-to-km/h" placeholder="1">
            </div>
        </div>
    </form>
</div>