<div class="converter-wrapper">
    <button class="converter-trigger-button js-temp-trigger-button">
        <span class="converter-title">Temperature</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form temp-form js-temp-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">°F</span>
                <input class="input temp-input" type="number" data-convert-type="F-to-C" placeholder="°F">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">°C</span>
                <input class="input temp-input" type="number" data-convert-type="C-to-F" placeholder="°C">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">°F</span>
                <input class="input temp-input" type="number" data-convert-type="F-to-K" placeholder="°F">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">°K</span>
                <input class="input temp-input" type="number" data-convert-type="K-to-F" placeholder="°K">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">°C</span>
                <input class="input temp-input celsius-label" type="number" data-convert-type="C-to-K" placeholder="°C">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">°K</span>
                <input class="input temp-input" type="number" data-convert-type="K-to-C" placeholder="°K">
            </div>
        </div>
    </form>
</div>