<form class="form temp-form js-temp-form">
    <input class="input fahrenheit-input js-fahrenheit-input" type="number" name="fahrenheit" id="fahrenheit"
        placeholder="Enter degrees in Fahrenheit">

    <button class="replace-button js-replace-button" type="button">
        <i class="fa-solid fa-arrow-right-arrow-left replace-icon"></i>
    </button>

    <input class="input celsius-input js-celsius-input" type="number" name="celsius" id="celsius"
        placeholder="Enter degrees in Celsius">
</form>