<div class="converter-wrapper">
    <button class="converter-trigger-button js-time-trigger-button">
        <span class="converter-title">Time</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form time-form js-time-form active">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">ms</span>
                <input class="input time-input" type="number" data-convert-type="ms-to-sec" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">sec</span>
                <input class="input time-input" type="number" data-convert-type="sec-to-ms" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">sec</span>
                <input class="input time-input" type="number" data-convert-type="sec-to-min" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">min</span>
                <input class="input time-input" type="number" data-convert-type="min-to-sec" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">min</span>
                <input class="input time-input" type="number" data-convert-type="min-to-h" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">h</span>
                <input class="input time-input" type="number" data-convert-type="h-to-min" placeholder="1">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">hours</span>
                <input class="input time-input" type="number" data-convert-type="h-to-days" placeholder="1">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">days</span>
                <input class="input time-input" type="number" data-convert-type="days-to-h" placeholder="1">
            </div>
        </div>
    </form>
</div>