<div class="converter-wrapper">
    <button class="converter-trigger-button js-volume-trigger-button">
        <span class="converter-title">Volume</span>
        <i class="converter-icon fa-solid fa-chevron-down"></i>
    </button>

    <form class="form volume-form js-volume-form">
        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">mm&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="mm3-to-cm3" placeholder="1&sup3;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">cm&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="cm3-to-mm3" placeholder="1&sup3;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">cm&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="cm3-to-m3" placeholder="1&sup3;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">m&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="m3-to-cm3" placeholder="1&sup3;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">l</span>
                <input class="input volume-input" type="number" data-convert-type="l-to-cm3" placeholder="1&sup3;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">cm&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="cm3-to-l" placeholder="1&sup3;">
            </div>
        </div>

        <div class="converter-group">
            <div class="input-container">
                <span class="unit-label">m&sup3;</span>
                <input class="input volume-input" type="number" data-convert-type="m3-to-l" placeholder="1&sup3;">
            </div>

            <i class="replace-icon fa-solid fa-arrow-right-arrow-left"></i>

            <div class="input-container">
                <span class="unit-label">l</span>
                <input class="input volume-input" type="number" data-convert-type="l-to-m3" placeholder="1&sup3;">
            </div>
        </div>
    </form>
</div>